@model DuocBadges.Models.Badge

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/tableStyle.css" />
<script src="~/js/image.js"></script>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Crear <b>Badge</b></h2>
                </div>
            </div>
        </div>
        <form asp-action="Create">
            <div class="row">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col">
                    <div class="form-group">
                        <div class="input-group pt-4">
                            <div class="custom-file">
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="custom-file-input" id="imgInp" aria-describedby="inputGroupFileAddon04">
                                <label class="custom-file-label" for="imgInp"></label>
                            </div>
                        </div>
                        <img id="img-upload" />
                    </div>
                    
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Descripción</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CriteriaId" class="control-label">Criterio</label>
                        <select asp-for="CriteriaId" class="form-control" asp-items="ViewBag.CriteriaId"></select>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
                <div class="float-right">
                    <input type="submit" value="Volver" class="btn btn-dark" asp-action="Index" />
                </div>
            </div>
        </form>




    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
